body { font-family: Arial, sans-serif; }
.lesson-container { padding: 5px; border: 1px solid #ddd; margin-top: 20px; }
h2 { margin: 10px 0; }
.flex-menu-container { display: flex;  flex-direction: column; align-items: center; }
.body-flex-container { display: flex; justify-content: center; }
.flex-row-1, .flex-row-2, .flex-row-3 { display: flex; padding: 5px;}
.flex-row-1 { justify-content: space-evenly; width: 90%;}

#select-book, #select-level, #select-type, #select-lesson { margin: 0 10px; display: flex; flex-direction: column; justify-content: center; align-items: center; }
#select-book label, #select-level label, #select-type label, #select-lesson label { text-align: center; margin-bottom: 5px; }
#select-book select, #select-level select, #select-type select { width: 100%; text-align: center; }

#timer { width: 20px; height: 20px; }
.timer-align { display: block; text-align: center; font-size: 0.8em; font-weight: 700; }

.align-left { text-align: left; }
.align-center { text-align: center; }
.align-right { text-align: right; }

.flex-head-greeting { display: flex; align-items: center; justify-content: space-between; }
.span-heading { color: #686868; font-size: 20px; font-family: Arial; font-weight: bold; text-decoration: none; }

.flex-div { display: flex; justify-content: center; align-items: center; }
.flex-wrap { flex-wrap: wrap; }
.flex-direction { flex-direction: column; }

img { cursor: pointer; border-radius: 15px; }

.image-big { width: 336px; height: 240px; }
.image-medium { width: 168px; height: 120px; }
.image-small { width: 107px; height: 75px; }

.image-big:hover, .image-medium:hover, .image-small:hover { opacity: 0.8; }

.image-big.img-clicked:hover, .image-medium.img-clicked:hover, .image-small.img-clicked:hover { opacity: 1.0; }

.warmup, .presentation { border-radius: 10px; border: 1px solid #000000; padding: 5px; margin-bottom: 5px;};
.warmup { background-color: #faf9d0; }
.presentation { background-color: #e7feeb; }

.main-text { font-family: 'Poppins'; font-size: 0.9em; }
.bold { font-weight: 600; }
